@font-face {
    font-family: 'League Spartan';
    src: url('fonts/subset-LeagueSpartan-Bold.eot');
    src: url('fonts/subset-LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LeagueSpartan-Bold.woff') format('woff'),
        url('fonts/subset-LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.wrapper {
    position: relative;
    width: 1225px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header styling */

.header {
    margin-top: 38px;
    padding-bottom: 43px;
}

.header__logo {
    margin-right: 192px;
}

.navigation {
    display: inline-block;
}

.navigation input {
    display: none;
}

.navigation__list {
    padding: 13px 0;
    margin: 0;
}

.navigation__item {
    list-style-type: none;
    display: inline-block;
    margin-right: 43px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    font-size: 9px;
    opacity: 0.9;
    color: #0b0c11;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    height: 100%;

}

.navigation__link:hover {
    color: #5da8ef;
}

/* section primary-slider */

.primary-slider {
    position: relative;
    margin-bottom: 190px;
}

.primary-slider__content {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}

.primary-slider__subtitle {
    opacity: 0.9;
    color: #5da8ef;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.primary-slider__title {
    margin: 0;
    color: #0b0c11;
    font-size: 62px;
    font-weight: 700;
    padding-top: 11px;
    padding-bottom: 13px;
    line-height: 64px;
}

.primary-slider__paragraph {
    width: 32%;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.primary-slider__image {
    box-shadow: -7px 19px 20px 5px #d9d9d9;
}

.slider-controls {
    position: absolute;
    bottom: 3px;
}

.slider-controls__pages {
    color: #ebebeb;
    font-size: 10px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
}

.slider-controls__page {
    color: #262626;
}

.slider-controls__page--active {
    color: #5da8ef;
}

.slider-controls__left-arrow {
    margin-right: 15px;
    cursor: pointer;
    padding: 7px;
}

.slider-controls__left-arrow:hover > path,
.slider-controls__right-arrow:hover > path,
.shop-controls__previous-arrow:hover > path,
.shop-controls__next-arrow:hover > path {
    fill: #5da8ef;
}

.slider-controls__right-arrow {
    margin-left: 15px;
    cursor: pointer;
    padding: 7px;
}


/* social-bar section */

.social-bar {
    position: absolute;
    top: 11px;
    right: -54px;
    height: 640px;
}

.vertical-text {
    opacity: 0.2;
    text-transform: uppercase;
    font-size: 9px;
    color: #0b0c11;
    font-weight: 700;
    letter-spacing: 6px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 420px;
}

.social-icons {
    bottom: -10px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    text-align: center;
}

.social-icons__anchor {
    text-decoration: none;
    display: block;
    margin-bottom: 23px;
}

.social-icons__anchor:last-child {
    margin-bottom: 0;
}

.social-icons__icon > path {
    transition: fill 0.5s;
}
.social-icons__icon:hover > path {
    fill: #5da8ef;
}

/* media-content section */

.section-media-content {
    margin-bottom: 217px;
}

.quote {
    margin: 0 auto;
    width: 610px;
    padding-bottom: 62px;
}

.quote__content {
    opacity: 0.9;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    width: 610px;
    display: block;
    text-align: center;
}

q:before, q:after{ content: "";}

.quote__author {
    opacity: 0.9;
    color: #333333;
    font-size: 9px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.quote::after {
    display: block;
    content: "";
    text-align: center;
    height: 100px;
    width: 2px;
    margin: 0 auto;
    background-color: #5da8ef;
}

.gallery {
    position: relative;
}

.gallery__col-2 {
    position: absolute;
    right: 0;
    top: 45px;
}

.gallery__play {
    width: 68px;
    height: 68px;
    box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
    background-color: #5da8ef;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    bottom: 50%;
    right: 50%;
    margin: 0 -34px -34px 0;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
}

.gallery__play:hover {
    box-shadow: 0 0 1px 15px rgba(93, 168, 242, 0.4),
        0 0 1px 30px rgba(93, 168, 242, 0.1),
        0 0 1px 45px rgba(93, 168, 242, 0.1);
}

.gallery__play::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -4px;
}

.gallery__content {
    width: 336px;
    margin-top: 59px;
    margin-left: 117px;
}

.gallery__text {
    opacity: 0.65;
    color: #616161;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: block;
    margin-bottom: 40px;
}

.primary-button {
    display: inline-block;
    color: #333333;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    position: relative;
    transition: all .5s ease;
    padding:12px 5px 7px 10px;
}

.primary-button:hover {
    background-color: #5da8ef;
    color: #fff;
}

.primary-button::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5da8ef;
    margin-left: -10px;
    margin-top: 6px;
}

/* shop container */

.shop-container {
    position: relative;
    text-align: center;
    margin-bottom: 173px;
}

.shop-heading {
    margin: 0 auto;
    width: 218px;
    padding-bottom: 45px;
}

.heading__subtitle {
    opacity: 0.9;
    color: #5da8ef;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    display: block;
}

.heading__title {
    color: #333333;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    margin:0;
}

.shop-grid {
    padding-bottom: 72px;
}

.shop-grid__col-01,
.shop-grid__col-02,
.shop-grid__col-03 {
    position: relative;
    margin-right: 3.3%;
    width: 31.1%;
    height: 442px;
}

.shop-grid__col-03 {
    margin-right: 0;
}

.catalog__surf-image {
    -webkit-filter: drop-shadow(5px 5px 5px #d1d3e1);
    filter: drop-shadow(11px 5px 4px #d1d3e1);
    position: absolute;
    bottom: 28px;
    left: 66px;
}

.shop-grid__col-01:after,
.shop-grid__col-02:after,
.shop-grid__col-03:after {
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 320px;
    background-color: #e8e8e8;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.catalog__content {
    position: absolute;
    bottom: 107px;
    right: -4px;
    text-align: left;
}

.content__subtitle {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}

.content__title {
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.content__price {
    color: #ce60a8;
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin-left: 70px;
    margin-top: 32px;
}

.content__buy {
    color: #333333;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 70px;
    display: inline-block;
    letter-spacing: 5px;
    margin-top: 5px;
    text-decoration: none;
}

.content__buy:hover {
    color: #5da8ef;
}

.shop-controls__previous-button {
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    bottom: 250px;
    left: -84px;
}

.shop-controls__next-button {
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    bottom: 250px;
    right: -84px;
}

.shop-controls__previous-arrow {
    cursor: pointer;
}

.shop-controls__next-arrow {
    cursor: pointer;
}

/* surf camps - first article */

.section-alpha {
    position: relative;
    margin-bottom: 120px;
}

.promo-box {
    position: relative;
}

.promo-box--left {
    width: 413px;
    padding-right: 50px;
}

.promo-box__sup {
    color: #f9f9f9;
    font-size: 130px;
}

.promo-box__title {
    color: #333333;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    position: absolute;
    top: 70px;
    left: 5px;
    margin: 0;
}

.promo-box__title::after {
    display: block;
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #5da8ef;
    margin-top: 10px;
}

.promo-box__text {
    opacity: 0.65;
    color: #616161;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 34px;
}

.section-alpha__aside {
    position: absolute;
    top: -5px;
    right: -28px;
}

/* surf camps - second article */

.promo-box--right {
    width: 330px;
}

.section-betha {
    width: 73%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 113px;
}

.section-betha__aside {
    position: absolute;
    left: -30px;
}

.article__paragraph--second {
    width: 100%;
}

/* section join */

.section-join:before {
    display: block;
    content: "";
    text-align: center;
    height: 100px;
    width: 2px;
    margin: 0 auto;
    background-color: #5da8ef;
    margin-bottom: 63px;
}

.section-join {
    margin: 0 auto;
    width: 590px;
    text-align: center;
    margin-bottom: 148px;
}

.join__title {
    color: #333333;
    font-size: 42px;
    font-weight: 700;
    line-height: 66px;
    margin: 0;
}

.join__text {
    opacity: 0.65;
    color: #616161;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;
}

input[type="email"] {
    width: 538px;
    height: 48px;
    background-color: #f5f5f5;
    border: none;
    font-family: "League Spartan", Arial, Tahoma, sans-serif;
    outline: none;
    text-indent: 29px;
}

input[type="email"]:focus {
    border: none;
    background-color: #d1e6fa;
    box-shadow: -3px -3px 3px #cccccc;
}

::placeholder {
    opacity: 0.9;
    color: #333333;
    font-family: "League Spartan", Arial, Tahoma, sans-serif;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-indent: 29px;
}

.submit-button {
    width: 50px;
    height: 50px;
    background-color: #5da8ef;
    border: none;
    float: right;
    text-align: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.submit-button-svg {
    vertical-align: middle;
}

.submit-button:hover > .submit-button-svg > path {
    fill: #616161;
    transition: fill 0.5s;
}

/* section contact */

.section-contact {
    position: relative;
    padding-bottom: 197px;
}

.section-contact__image {
    position: absolute;
    left: -100px;
}

.contact-content {
    width: 570px;
    margin-top: 100px;
}

.contact-content__sup {
    opacity: 0.27;
    color: #0b0c11;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-contet__address {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    width: 336px;
    margin: 42px 0 45px 49px;
    font-style: normal;
}

/* footer */

.footer {
    text-align: center;
    padding-bottom: 40px;
}

.footer__logo {
    margin-bottom: 17px;
}

.navigation--footer {
    display: block;
    margin-bottom: 24px;
}

.social-icons--footer .social-icons__anchor {
    display: inline-block;
    margin-right: 30px;
}

.social-icons--footer .social-icons__anchor:last-child {
    margin: 0;
}


/* used fonts */

.font-primary {
    font-family: "League Spartan", Arial, Tahoma, sans-serif;
}

.font-secondary {
    font-family: "Playfair Display", "Times New Roman", serif;
}

.font-tertiary {
    font-family: "Poppins", Arial, Tahoma, sans-serif;
}


.left {float: left;}
.right {float: right;}

/* https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 1384px) {

    .shop-controls__previous-button { left: -40px; }
    .shop-controls__next-button { right: -40px; }
}

@media only screen and (max-width:1265px) {

    .wrapper { width: 90%; }

    .social-bar { display: none; }

    .slider-controls {
        background: #f2f2f2;
        border-radius: 14px;
        box-shadow: 0 0 5px 3px #a6a6a6;
    }

    .slider-controls__pages { color: #a6a6a6; }

    .slider-controls__left-arrow > path ,
    .slider-controls__right-arrow > path
    { fill: #5da8ef;  }

    .slider-controls__left-arrow:hover > path ,
    .slider-controls__right-arrow:hover > path
    { fill: #333; }

    .promo-box { width: 30%; }
    .contact-content { width: 40%; }
}

@media only screen and (max-width: 1155px) {

    .gallery { text-align: center; }
    .gallery__col-2 {
        position: relative;
        top: 0;
    }
    .gallery__content { margin: 0 auto; }

    .catalog__surf-image { left: 0; }

    .section-alpha, .section-betha { text-align: center; }
    .promo-box { width: 100%; padding-right: 0; }
    .section-alpha__image, .section-betha__image { float: none; }
    .promo-box__title { position: static; margin-top: -90px; }
    .promo-box__title::after { left: 50%; }
    .promo-box__text { width: 80%; margin: 20px auto; }
    .vertical-text { display: none; }

    .section-contact { text-align: center; }
    .section-contact__image { position: static; }
    .contact-content { width: 100%; }
    .contact-contet__address { margin: 3px auto; }
}

@media only screen and (max-width: 470px) {


    /* This is hamburger menu for mobile phones from: https://codepen.io/erikterwan/pen/EVzeRP */

    .navigation  {
      display: block;
      top: 50px;
      left: 50px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    .navigation input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
     -webkit-touch-callout: none;
    }

    .navigation span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 2;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
    }


    .navigation span:first-child {
        transform-origin: 0% 0%;
    }

    .navigation span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .navigation input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    .navigation input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .navigation input:checked ~ span:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }

    .navigation__list {
        position: absolute;
        top: 15px;
        left: -10px;
        transform: translate(-100%, 0);
        transition: all 0.5s;
        width: 200px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 1;
    }

    .navigation__item {
        display: block;
        width: 100%;
        padding: 2px;
        margin-left: 9px;
        padding: 8px;
    }

    .navigation input:checked ~ ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}

